# Entorno de ejecución

NODE_ENV=production

# Puerto (Render lo asigna automáticamente)

PORT=10000

# Base de datos PostgreSQL (Render)

DB_HOST=tu-host.render.com
DB_USER=tu-usuario
DB_PASSWORD=tu-password
DB_NAME=jwt_db
DB_PORT=5432

# Seguridad JWT

JWT_SECRET=tu_clave_super_segura
